@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
}

.main-outer {
    min-height: 150px;
    background-color: #003BA0;
    width: 100%;

}

.top-outer {
    width: 100%;
    height: 60px;

    display: flex;
}

.logo-wrapper {
    width: 250px;
    height: 100%;
    padding: 0 12px;
    display: flex;
    align-items: center;
}

.top-element-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 12px;
}

.logo {
    font-family: "Kanit", serif;
    color: white;
}

.nav {
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
    font-family: "Space Grotesk", serif;

}

.nav > li > div > img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
}
.nav>li{
    margin-right: 20px;
}
.nav>li:last-child{
    margin: 0;
}
.nav-element-context{
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.nav-element-context:hover{
    background-color: rgba(255,255,255,0.2);
    cursor: pointer;
}
.button{
    padding: 8px 13px;
    border: none;
    border-radius: 2px;
    color: #003BA0;
    cursor: pointer;
}